<h1>Nos produits en vente</h1>


<div class="row">
    <div class="spinner-border text-success m-3"
         role="status" *ngIf="isLoading">

    </div>
  <div class="col-12" *ngIf="!isLoading">
    <app-product *ngFor="let product of products"
                 [product]="product"
                 (productCommandEmitter)="carteCommandEmitter($event)"></app-product>
  </div>

</div>
