<div>
  <div class="col-md-2">
    <img style="max-width: 100px" src="{{imageUrl}}{{ produit?.image}}">
  </div>
  <div class="col-md-12">{{ produit?.nom }}
    <div class="example-button-container">
      <button (click)="deleteProduct()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
