<h1>Votre commande</h1>


<ul>
  <li *ngFor="let produit of commande">
    <app-product-command-details [produit]="produit" (deleteProductEventEmitter)="deleteProduct($event)"></app-product-command-details>
  </li>
</ul>

<button *ngIf="isConnected" class="btn btn-primary" (click)="command()">Passer la commande</button>

<a [routerLink]="['/login']">
  <button *ngIf="!isConnected" class="btn btn-primary">Me connecter</button>
</a>

