<nav class="navbar navbar-expand-lg navbar-light bg-light align-content-center d-flex flex-row justify-content-center">

  <svg  alt="" role="img" aria-hidden="true" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg" class=""><path d="M3.81127 44C3.81127 44 0 44 0 40.1887V3.81127C0 3.81127 0 0 3.81127 0H40.1887C40.1887 0 44 0 44 3.81127V40.1887C44 40.1887 44 44 40.1887 44H3.81127Z" fill="#264F36"></path><path d="M28.2998 11.5863C30.6451 11.5863 32.5446 21.4521 32.5446 33.6244H35.9366C35.9172 20.5217 32.5058 9.90002 28.2998 9.90002C25.8963 9.90002 23.7642 13.0982 22.3687 18.0795C20.9537 13.0982 18.8216 9.90002 16.4182 9.90002C12.2121 9.90002 8.80078 20.5217 8.80078 33.6244H12.1928C12.1928 21.4521 14.0923 11.5863 16.4376 11.5863C18.7829 11.5863 20.6824 20.6962 20.6824 31.9188H24.0743C24.055 20.6962 25.9545 11.5863 28.2998 11.5863Z" fill="#FFBC0D"></path></svg>


</nav>
