<div class="row">

  <div class="col-7 border-mcdo-1">
    <app-carte (commendCarteEmitter)="commandReceived($event)"></app-carte>
  </div>

  <div class="col-3 border-mcdo-1">
    <app-commande (suppressionCommandEventEmitter)="deleteProduct($event)" (command)="command" [commande]="command"></app-commande>
  </div>
</div>

