<div class="card" style="width: 10rem;">
  <img  class="card-img-top" src="{{ imageUrl }}{{ product?.image }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ product?.nom }}</h5>
    <p class="card-text">{{ product?.prix }}</p>
    <a (click)="commandProduct()" class="btn btn-primary">Commander</a>
  </div>
</div>
