<div class="spinner-border text-success m-3"
     role="status" *ngIf="loader">

</div>

<form *ngIf="!loader" #loginForm="ngForm" (submit)="login()">
  <div class="form-row">
    <div class="">
      <label for="email">Email</label>
      <input type="email" #email="ngModel"
             [email]="true"
             [ngClass]="{ 'is-valid' : email.valid, 'is-invalid' : !email.valid }"
             class="form-control" id="email" placeholder="Adresse email" name="email" [(ngModel)]="user.email" required>
      <div class="valid-feedback" *ngIf="email.valid">
        Looks good!
      </div>
      <div class="invalid-feedback" *ngIf="!email.valid">
        Veuillez entrer un email valid
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="">
      <label for="password">Mot de passe</label>
      <input type="password" #password="ngModel"
             [ngClass]="{ 'is-valid' : password.valid, 'is-invalid' : !password.valid }"
             class="form-control" id="password" placeholder="Mot de passe" name="password"
             [(ngModel)]="user.password" required>
      <div class="valid-feedback" *ngIf="password.valid">
        Looks good!
      </div>
      <div class="invalid-feedback" *ngIf="!password.valid">
        Veuillez entrer un email valid
      </div>
    </div>
  </div>

  <div class="text-danger" *ngIf="strError != ''">{{ strError }}</div>
  <button [disabled]="!loginForm.valid" type="submit" class="btn btn-success">Me connecter</button>
</form>
