/* You can add global styles to this file, and also import other style files */
.border-mcdo-1{
  border: 2px solid  rgb(34,69,47);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
